* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container h1 {
  display: flex;
  align-items: center;
}

/* / HEADER / */

header {
  width: 100%;
  background-color: #a41606;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.headerSections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerSections a {
  margin-right: 50px;
  color: white;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
}

#carro {
  font-size: 25px;
  color: white;
  margin-right: 3px;
}

.headerSections span {
  margin-right: 50px;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;


}

.headerSections a:hover {
  transform: scale(1.1, 1.1);
  color: #5a5a5a;
  transition: 0.3s;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 80%;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

/* / MENU HAMBURGUESA */

.container .burger-btn {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.item {
  color: white;
  font-size: 20px;
}

.props {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}


/* CONTAINER */
#container {
  margin-top: 100px;
}

.productCatalog {
  display: flex;
  justify-content: center;
  margin: auto;
}

.gridCatalog {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}



/* .card {
margin-top: 100px,
} */

img {
  max-width: 100%;
}

.title {
  color: blue;
  margin-top: 150px;
  margin-bottom: 50px;
}


/* button */


.itemCount {
  font-size: 13px;
 line-height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

button {
  border: none;
  border-style: groove;

}

/* @MEDIA */
@media (max-width: 1080px) {
  .nav {
    padding: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    padding: 11px;
  }

  .headerSections a {
    display: none;
  }

  .container .burger-btn {
    display: block;
  }

  .logo {
    font-size: 27px;
  }
}

@media screen and (max-width: 720px) {
  .nav {
    width: 100%;
  }
}